<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Dra. Urbaneja</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../../img/favicon.png">
</head>

<body>
    <header id="header-views">
        <nav>
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <ul class="menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./terapias.html">Terapias</a></li>
                <li><a href="./acercademi.html">Acerca de Mi</a></li>
                <li><a href="./testimonios.html">Testimonios</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
            </ul>
        </nav>
    </header>

    <main class="aboutme">
        <h1>Dra. Urbaneja</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nesciunt laudantium soluta delectus voluptas.
            Cumque eligendi quidem, inventore quo assumenda et eius quam laudantium, omnis hic mollitia repellendus
            soluta nisi temporibus culpa fugit tenetur asperiores quod quis dolores quaerat at? Obcaecati quaerat eius
            nostrum voluptatibus unde maxime quasi eveniet impedit est totam asperiores modi alias, libero quibusdam
            itaque recusandae suscipit, dolorum nemo aliquam expedita explicabo! Qui maxime a error, sint accusantium
            aliquam debitis, libero eveniet autem corrupti, facere velit quasi necessitatibus odio vero laboriosam
            dolorum similique eos. Nisi atque, tempore dolore iure inventore officiis doloremque? Ratione eum aut
            similique excepturi tenetur. Harum hic alias veniam exercitationem esse odio quidem debitis? Nam,
            consequuntur laboriosam. Nam quo veniam veritatis accusamus obcaecati recusandae vitae deserunt facere
            quaerat magni dolorum ipsum aliquam, at rerum inventore nulla doloremque modi error! Quod iure id odio at
            expedita necessitatibus, atque cumque. Fugit inventore unde, quas ipsam minima consectetur ratione optio
            itaque debitis assumenda. Eaque quis est facere odio corporis, perferendis iure architecto delectus labore,
            culpa explicabo doloribus veritatis molestias dolor. Autem qui possimus aspernatur porro a. Corrupti veniam
            facilis, laudantium est adipisci amet! Aliquam dolor natus ipsam iusto perspiciatis sequi odio explicabo
            nisi dolores alias ab, possimus sunt tenetur minima architecto blanditiis, optio commodi a veritatis eius
            ad! Dolores dolor expedita aliquam ab at, dolorem omnis, dolore alias excepturi magni ipsa ducimus. Laborum
            eum totam facere dignissimos beatae tempora illo perspiciatis omnis culpa ad. Fuga quo dolorum deserunt quos
            sunt libero aspernatur corrupti, ipsa aliquid et quibusdam necessitatibus ut labore tempore odit, ratione
            harum nemo repellat deleniti aut magnam numquam quidem inventore soluta. Odit repudiandae quidem labore nisi
            ipsum libero hic perspiciatis quas recusandae, praesentium dignissimos sunt harum ex amet corporis esse sint
            ducimus quo quis ipsam, reprehenderit enim quasi. Ad totam nisi alias odit magnam illo! ipsum dolor sit amet
            consectetur adipisicing elit. At placeat excepturi laborum suscipit esse, eligendi debitis repellendus dicta
            doloribus aspernatur eos iure nostrum delectus sapiente voluptates neque, accusamus fugiat. Quaerat.</p>
    </main>

    <footer>
        <div class="paginas">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./terapias.html">Terapias</a></li>
                <li><a href="./acercademi.html">Acerca de Mi</a></li>
                <li><a href="./testimonios.html">Testimonios</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
            </ul>
        </div>

        <div class="social-media-links">
            Síguenos en:
            <ul>
                <li><a href="https://www.instagram.com/"><img src="/images/instagram-logo.png" alt="Instagram Logo" />
                        Instagram</a></li>
                <li><a href="https://www.facebook.com/"><img src="/images/facebook-logo.png" alt="Facebook Logo" />
                        Facebook</a></li>
            </ul>

        </div>
        <p>Copyright &copy; 2023 Todos los derechos reservados | Diseñado y desarrollado por: Teófilo Amundarain |
            Contacto: teoamundarain@gmail.com </p>


    </footer>
</body>

</html>