<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Dra. Urbaneja</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../../img/favicon.png">
</head>

<body>
    <header id="header-views">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./terapias.html">Terapias</a></li>
                <li><a href="./acercademi.html">Acerca de Mi</a></li>
                <li><a href="./testimonios.html">Testimonios</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
            </ul>
        </nav>
    </header>

    <main class="contact">
        <h1>Informacion de contacto</h1>
        <ul>

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil eaque ullam perspiciatis! Deleniti quos
                et necessitatibus excepturi ullam quas dolorem minus nemo nobis quae. Numquam possimus autem beatae rem
                quod!</li><br>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam sunt quidem laudantium a vel
                aliquam ipsum! Veniam officiis laboriosam molestias quibusdam maiores, nemo consequatur dicta possimus
                mollitia quasi vitae fuga!</li><br>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto a doloribus quisquam cumque? Sint
                voluptates eum, facilis qui cum totam excepturi nulla, cupiditate voluptate harum saepe dicta fuga
                maiores veniam!</li><br>
        </ul>
    </main>

    <footer>
        <div class="paginas">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./terapias.html">Terapias</a></li>
                <li><a href="./acercademi.html">Acerca de Mi</a></li>
                <li><a href="./testimonios.html">Testimonios</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./preguntasfrecuentes.html">Preguntas Frecuentes</a></li>
            </ul>
        </div>

        <div class="social-media-links">
            Síguenos en:
            <ul>
                <li><a href="https://www.instagram.com/"><img src="/images/instagram-logo.png" alt="Instagram Logo" />
                        Instagram</a></li>
                <li><a href="https://www.facebook.com/"><img src="/images/facebook-logo.png" alt="Facebook Logo" />
                        Facebook</a></li>
            </ul>

        </div>
        <p>Copyright &copy; 2023 Todos los derechos reservados | Diseñado y desarrollado por: Teófilo Amundarain |
            Contacto: teoamundarain@gmail.com </p>


    </footer>
</body>

</html>